/* Remove default margin */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header style */
header {
    background: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Map size */
#map {
    height: calc(100vh - 60px);
    width: 100%;
}
#contributeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e11d48;
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 2000;
}

#contributeBtn:hover {
  background: #be123c;
}

#contributionBox {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  display: none;
  z-index: 2000;
  width: 250px;
}

#contributionBox a {
  color: #1e293b;
  font-weight: bold;
  text-decoration: none;
}

#contributionBox a:hover {
  text-decoration: underline;

}
.mainContainer{
  display:flex;
  height:100vh;
}

.sidebar{
  width:250px;
  background:#1e293b;
  color:white;
  padding:15px;
}

.sidebar button, .sidebar select{
  width:100%;
  margin-bottom:10px;
  padding:8px;
}

.content{
  flex:1;
}

#map{
  height:100vh;
}

#feedContainer{
  padding:20px;
}

.postCard{
  background:white;
  padding:10px;
  margin-bottom:15px;
  border-radius:8px;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
